Week6/files.db
Week6/node1/Gb5hGfra
Week6/node1/Ib2T4niz
Week6/node1/YksNiEQI
Week6/node1/YKTR6w7x
Week6/node2/JVyQFPrd
Week6/node2/kNhDzZ14
Week6/node2/SP5ft0Qb
Week6/node2/yilXEcEg
Week6/__pycache__/messages_pb2.cpython-310.pyc
Week6/__pycache__/raid1.cpython-310.pyc
Week6/__pycache__/reedsolomon.cpython-310.pyc
Week6/__pycache__/utils.cpython-310.pyc
