Week6/*.db
Week6/node1/*
Week6/node2/*
Week6/node3/*
Week6/__pycache__/messages_pb2.cpython-310.pyc
Week6/__pycache__/raid1.cpython-310.pyc
Week6/__pycache__/reedsolomon.cpython-310.pyc
Week6/__pycache__/utils.cpython-310.pyc
Week6/*
*.db
